
# frontend:
frontend/

# Python:
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__/
.venv/
.env
env_local.py
env_prodtest.py
tests/

# general
.gcloudignore
.git
.gitignore
.DS_Store
.vscode
License.md
poe_tasks.yaml
shared/

