__pycache__/
*.py[cod]
*.mo
*.pot
*.log
*.retry
.idea
.vscode
.eggs
/backend/local_settings.py
/backend/build
/backend/dist
/backend/kbsb.egg-info/
/frontend/node_modules/
/frontend/yarn.lock
/frontend/webpack-stats.json
/data
Pipfile.lock