
# Log files
*.log*

# Editor directories and files
.idea
.vscode
*.code-workspace
vetur.config.js

# backend
kbsb_backend/public
kbsb_backend/reddevil
kbsb_backend/local_settings.py
.mypy_cache
__pycache__/
*.pyc

# vue frontend
kbsb_frontend/node_modules
kbsb_frontend/.nuxt

# data
share/mysql/*.sql
