

# Log files
*.log*

# Editor directories and files
.idea
.vscode
*.code-workspace
vetur.config.js
.DS_Store

# backend
backend/local_settings.py
.mypy_cache
__pycache__/
*.pyc

# vue frontend
frontend/node_modules
frontend/.nuxt
frontend/.output
frontend/dist

# data
share/mysql/*.sql
shared/secrets
.env
