[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"

[packages]
aiofiles = "*"
bcrypt = "*"
colorlog = "*"
dnspython = "*"
fastapi = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"
google.cloud = "*"
google-cloud-secret-manager = "*"
google-cloud-storage = "*"
gunicorn = "*"
markdown2 = "*"
motor = "*"
mysql-connector-python = "*"
passlib = "*"
pymongo = "*"
python-dateutil = "*"
python-jose = {extras = ["cryptography"],version = "*"}
python-slugify = "*"
requests = "*"
uvicorn = "*"
reddevil = {path = "./libs/reddevil-2.2.5-py3-none-any.whl"}

[requires]
python_version = "3.9"
