Babel
cmsplugin-filer
django-appconf
django-appdata
django-classy-tags
django-cms
django-filer
django-formtools
django-parler
django-phonenumber-field
django-polymorphic
django-reversion
django-sekizai
django-select2
django-sortedm2m
django-storages
django-taggit
django-taggit-autosuggest
django-treebeard
djangocms-admin-style
djangocms-attributes-field
djangocms-file
djangocms-googlemap
djangocms-inherit
djangocms-link
djangocms-style
djangocms-text-ckeditor
django_webpack_loader
djangorestframework
easy-thumbnails==2.5
html5lib==0.9999999
gunicorn
lxml
phonenumbers
Pillow
psycopg2-binary
python-dateutil
python-slugify
pytz
requests
simplejson
six

