aldryn-apphooks-config
aldryn-boilerplates
aldryn-categories
aldryn-common
aldryn-events
aldryn-newsblog
aldryn-people
aldryn-translation-tools
Babel
backport-collections
cmsplugin-filer
Django>1.11,<2
django-appconf
django-appdata
django-classy-tags
django-cms
django-filer
django-formtools
django-parler
django-phonenumber-field
django-polymorphic
django-reversion
django-sekizai
django-select2
django-sortedm2m
django-storages
django-taggit
django-taggit-autosuggest
django-treebeard
djangocms-admin-style
djangocms-attributes-field
djangocms-file
djangocms-googlemap
djangocms-inherit
djangocms-link
djangocms-style
djangocms-text-ckeditor
django_webpack_loader
easy-thumbnails==2.5
html5lib==0.9999999
gunicorn
lxml
phonenumbers
Pillow
psycopg2-binary
python-dateutil
python-slugify
pytz
simplejson
six
https://chessdevil.myqnapcloud.com/pip/rd_django/rd_django-0.3.tar.gz
