.container, .container.grid-list-xl, .container.grid-list-lg, .container.grid-list-md,
.container.grid-list-sm, .container.grid-list-xs
  padding-top: 0
  padding-left: 0
  padding-right: 0
  padding-right: 0

.btn-language
  min-width: 0;

.footer a 
  color: white;
  text-decoration: none 
.footer a:hover
  text-decoration: none 
  font-weight: bold

.fixtoolbar
  top: 50px

.headermargin
  margin-top: 80px

ul, ol
  display: block
  list-style: disc outside none
  padding: 0 0 0 40px
  margin-bottom: 0.5em

ol
  list-style-type: decimal

body, html
  margin: 0
  padding: 0
  border: 0


.tabactive {
  background-color: pink;
}