{% extends "cms_base.html" %}
{% load cms_tags staticfiles menu_tags sekizai_tags i18n %}
{% load render_bundle from webpack_loader %}

{% block custom_cms %}

  <div slot="landing-box" class="landing-box">
    <div class="landing-title hidden-xs-only"
         v-text="_t['Royal Belgian Chess Federation']">
    </div>
    <div class="landing-title hidden-sm-and-up"
         v-text="_t['RBCF']">
    </div>
  </div>

  <v-container class="mt-3">
    <v-layout wrap>
      <v-flex sm8 xs12 class="px-2">
        {% placeholder "content" %}
      </v-flex>
      <v-flex sm4 xs12 class="px-2">
        {% placeholder "sidebar" %}
      </v-flex>
    </v-layout>
  </v-container>

{% endblock custom_cms %}
