{% extends "cms.html" %}
{% load cms_tags staticfiles menu_tags sekizai_tags i18n %}
{% load render_bundle from webpack_loader %}

{% block landing-box %}
  <div class="landing-box">
    <div class="landing-title hidden-xs-only">
      {% trans "Royal Belgian Chess Federation" %}
    </div>
    <div class="landing-title hidden-sm-and-up">
      {% trans "RBCF" %}
    </div>
  </div>
{% endblock landing-box %}

{% block placeholder-content %}
  <v-layout wrap>
    <v-flex sm8 xs12 class="px-2">
      {% placeholder "content" %}
    </v-flex>
    <v-flex sm4 xs12 class="px-2">
      {% placeholder "sidebar" %}
    </v-flex>
  </v-layout>
{% endblock placeholder-content %}

{% block toptoolbar %}
  <v-toolbar v-cloak fixed dark app class="green darken-2 navlanding"
             :class="{fixtoolbar: fixtoolbar}">
    {% block toptoolbar_content %}{{ block.super }}{% endblock toptoolbar_content %}
  </v-toolbar>
{% endblock toptoolbar %}





