{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}
<v-card>
  <v-card-title class="green lighten-3">{% render_model article "title" %}</v-card-title>
  <v-card-text>
    {% if article.featured_image_id %}
      <p>
        <img src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" 
             alt="{{ article.featured_image.alt }}">
      </p>
    {% endif %}  
    {% if article.categories.exists %}
      <p>
      {% for category in article.categories.all %}
        <a href="{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}">{{ category.name }}</a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
      </p>
    {% endif %}
    {% render_model article "lead_in" %}
    <div class="article_date">{{ article.publishing_date|date }}</div>
    {% render_placeholder article.content language placeholder_language %}
  </v-card-text>

</v-card>
