.landing-box
  background-position: center top
  background-size: auto 100%
  background-repeat: no-repeat
  width: auto
  position: relative

  @media screen and (min-width: 1281px)
    height: 629px
    background-image: url('/static/img/landing_big.jpeg')
  @media screen and (min-width: 720px) and (max-width: 1280px)
    height: 419px
    background-image: url('/static/img/landing_medium.jpeg')
  @media screen and (max-width: 720px)
    height: 236px
    background-image: url('/static/img/landing_small.jpeg')


.landing-title
  position: absolute
  top: 400px
  left: 1em
  font-size: 200%
  color: landingtitle
  padding: 0.5em 1em
  background-color: bgtitletext
  max-width: 12em
  @media screen and (min-width: 720px) and (max-width: 1280px)
    top: 300px
    font-size: 150%
  @media screen and (max-width: 720px)
    top: 170px
    font-size: 100%


.navlanding.green.darken-2
  background-color: bgmenu !important
