aiofiles
bcrypt
colorlog
dnspython
fastapi
google
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-secret-manager
google-cloud-storage
gunicorn
markdown2
motor
mysql-connector-python
passlib
pymongo
python-dateutil
python-jose[cryptography]
python-slugify
pyyaml
requests
uvicorn
./kbsb_backend/libs/reddevil-2.2.5-py3-none-any.whl
