{% load cms_tags menu_tags staticfiles sekizai_tags i18n %}
{% load render_bundle from webpack_loader %}
<!doctype html>
<html>
<head>
<title>{% block title %}Belgian Youth Championships{% endblock title %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116219765-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-116219765-1');
</script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  {% render_block "css" %}
</head>
<body>
<style>[v-cloak] > * { display:none }</style>

{% cms_toolbar %}

{% get_current_language as language %}
{% block content %}
  Here comes the content
{% endblock content %}

<script>
window.config = {
  apiurl: '/api',
  lang: '{{ language }}',
  oldsite: 'http://www.frbe-kbsb.be',
  authenticated: {{ request.user.is_authenticated |yesno:"true,false,false" }},
  toolbar_class: '{% block toolbar_class %}{% endblock toolbar_class %}',
  content_class: '{% block content_class %}{% endblock content_class %}',
};

window._t  = {
  News: '{% trans "News" %}',
  'About RBCF': '{% trans "About RBCF" %}',
  Contact: '{% trans "Contact" %}',
  'The team': '{%  trans "The team" %}',
};
</script>

{% render_block "js" %}

</body>
</html>
