{% extends "base.html" %}
{% load cms_tags menu_tags staticfiles sekizai_tags i18n rd_django %}
{% load render_bundle from webpack_loader %}

{% block title %}Talistro: {% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div id='app'>

<cms-page inline-template>
  <vue-layout :drawer="drawer">
    <div slot="menu">
      {% show_menu 0 100 100 100 %}
    </div>
    <div slot="toptoolbar">
      {% block toptoolbar %}
        <v-toolbar v-cloak fixed dark app class="green darken-2"
                   :class="{fixtoolbar: fixtoolbar}">
          {% block toptoolbar_content %}
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-items>
              <v-btn flat large href="/" v-text="_t['RBCF']"></v-btn>
            </v-toolbar-items>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
              <v-btn flat large href="/old/interclub">
                Interclub
              </v-btn>
              <v-btn flat large href="/news/">
                <span  v-text="_t['News']"></span>
              </v-btn>
            </v-toolbar-items>
          {% endblock toptoolbar_content %}
        </v-toolbar>
      {% endblock toptoolbar %}
    </div>
    <div slot="landing-box">
      {% block landing-box %}{% endblock landing-box %}
    </div>
    <div slot="language-selector">
      <v-btn flat small href="{% page_language_url 'nl' %}">NL</v-btn>
      <v-btn flat small href="{% page_language_url 'fr' %}">FR</v-btn>
      <v-btn flat small href="{% page_language_url 'de' %}">DE</v-btn>
      <v-btn flat small href="{% page_language_url 'en' %}">EN</v-btn>
    </div>
    <v-container>
      <v-layout row>
        <h1 class="display-1">{% page_attribute "page_title" %}</h1>
      </v-layout>
    </v-container>
    {% block placeholder-content %}
      {% placeholder "content" %}
      {% render_language_block %}
    {% endblock placeholder-content %}
  </vue-layout>
</cms-page>

</div>

{% addtoblock "js" %}

<script>
  var _t = {
  {%  for key, value in translations.items %}
    '{{ key}}': '{{ value }}',
  {% endfor %}
  };
</script>

{% if PRODUCTION %}
  {% render_bundle 'manifest' %}
  {% render_bundle 'vendor' %}
{% endif %}
{% render_bundle 'cms' %}
{% endaddtoblock %}

{% endblock content %}

