
/* 
 * CSS for PAIRTWOHELP
 */

body{
	font-family: Georgia, Verdana, "Times New Roman", Times, serif;
	font-size:10pt;
	color: #333333;
	background-color:#eaeaea;
	margin: 5px;
	padding: 0px;
	}

a:link, a:visited, a:hover {
	text-decoration: none;
	color: #993300;
	font-weight:bold;
}

a:hover {
	text-decoration: underline;
}
