
  <v-layout  row wrap>
  
{% for m in members %}

    <v-flex xs12 md6 xl4>
      <v-layout row class="ma-3 elevation-3">
        <v-flex shrink >
          <img src="{{ m.photourl }}" class="person-photo">
        </v-flex>
        <v-flex grow>
          <v-layout column>
            <v-flex  class="green lighten-3 pa-3">
              {{m.first_name}} {{m.last_name}}
            </v-flex>
            <v-flex grow class="pa-3">
              <div>tel: {{m.mobiletel}}</div>
              <div>email: {{m.email}}</div>
              <div>{{m.role}}</div>
            </v-flex>
            <v-flex class="pa-3">
              <v-layout row>
                <v-flex grow></v-flex>
                <v-flex shrink>
                    <v-btn flat icon class="green" href="tel:{{m.mobiletel}}">
                        <v-icon color="white">phone</v-icon>
                    </v-btn>
                    <v-btn flat icon class="green" href="sms:{{m.mobiletel}}">
                        <v-icon  color="white">textsms</v-icon>
                    </v-btn>
                    <v-btn flat icon  class="green" href="mailto:{{m.email}}">
                        <v-icon color="white">email</v-icon>
                    </v-btn>    
                </v-flex>
              </v-layout>
            </v-flex> 
          </v-layout>
  
        </v-flex>
      </v-layout>
    </v-flex>

{% endfor %}

  </v-layout>
