{% extends "vue_base.html" %}
{% load cms_tags menu_tags staticfiles sekizai_tags i18n rd_django %}
{% load render_bundle from webpack_loader %}

{% block custom-vue %}

<div class="headermargin">
<v-container>
  <admin-member></admin-member>
</v-container>
</div>

{% addtoblock "js" %}

  {% if STAGE != 'dev' %}
    {% render_bundle 'manifest' %}
    {% render_bundle 'vendor' %}
    {% render_bundle 'admin_members'  'js' %}
  {% else %}
    {% render_bundle 'admin_members' %}
  {% endif %}

{% endaddtoblock %}

{% addtoblock "css" %}

  {% if STAGE != 'dev' %}
    {% render_bundle 'admin_members' 'css' %}
  {%  endif %}

{% endaddtoblock %}

{% endblock custom-vue %}
<script>
    import AdminMember from "../../../../frontend/src/components/AdminMember";
    export default {
        components: {AdminMember}
    }

</script>