{% extends "cms_sidebar.html" %}
{% load cms_tags staticfiles sekizai_tags i18n apphooks_config_tags %}
{% load render_bundle from webpack_loader %}


{% block mainblock %}

  {% for article in article_list %}
    <div class="my-2">
        {% include "aldryn_newsblog/includes/article_basic.html" with namespace=instance.app_config.namespace %}
    </div>
  {% empty %}
    <p>{% trans "No items available" %}</p>
  {% endfor %}
  {% include "aldryn_newsblog/includes/pagination.html" %}


{% endblock mainblock %}

